<html>
	<head>
		<title>Poll App</title>
		<style>
			*{font-size:38px;}
			.navbar{background-color:black;}
			.navbar a{margin:25px; color:white; text-decoration:None;}
		</style>
	</head>
	<body>
	<center>
		<div class="navbar">
			{% if user.is_authenticated %}
				<a href="{% url 'ulogout' %}">Logout</a>
				<a href="{% url 'ucp' %}">Change Password</a>
			{% else %}
				<a href="{% url 'ulogin' %}">Login</a>
				<a href="{% url 'usignup' %}">Signup</a>
			{% endif %}
		</div>
		<h1>Welcome to Poll APP Version-0.2.0</h1>
		{% block content %}
		{% endblock %}
	</center>
	</body>
</html>
